body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: auto;
width: 50%;
font-size: 25px;

}
nav{
width: 99.85%;
margin:0;
border: 2px solid orangered;
border-bottom: 25px solid orangered;
}
li{
display: inline-block;
margin: 10px;   
width: 22%;
color: orangered;
text-align: center;
}
main{
border: 2px solid orangered;
margin: 0;
padding-left: 55px;
}
p{
    text-align:center;
}
h1 ,h2{
    color: orangered;
    text-align: center;
}

img{
    width: 20%;
    padding-left: 40%;
}
footer{
    border: 2px solid orangered;
    background-color: orangered;
    text-align: center;
    color: white;
}